*{

    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;;
}
.btn-primary{
    
        padding: 12px 40px;
        background-color:#03989e;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-size:18px;
        font-weight: 600;
    }

header{
    background-image: url(images/header-img/talent.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: top;
    padding: 10% 5%;
}
.container{
    width: 500px;
    float: right;
    
}
.contain{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}
.contain h2{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 22px;

}
.contain p{
    padding-bottom: 38px;
    line-height: 1.5rem;
}
/* post style start */
.post-wrap{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    padding: 80px 0px;
}
.post-text{
    width: 500px;
    padding-top: 60px;
}
.post-text h2{
    font-size: 35px;
    font-weight: 600;
}
.post-text p{
    padding: 20px 0px;
    line-height: 1.5rem;
}

.post-text ul{
    list-style: inside;
    font-weight: 500;
    color:#4e4e4e;
}
/* post style end */


/* news event style start */
.news-event-wrap{
    display: flex;
    justify-content: space-evenly;
    background: url(images/eventPic/newsevent.png);
    color: white;
    padding: 50px 28px;
}

.news-event-wrap .news-event-details{
    width: 34%;
}
.events-details-wrap{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.news-event-details h2{
    text-align: center;
    padding: 32px;
    font-size: 30px;
    font-weight: 600;

}
.news-event-details p{
    padding-bottom: 15px;
    line-height: 2rem;
}

.event-place h3{
    padding-bottom: 23px;
    padding-left: 9px;

}
.event-place span i{
    color: #03989e;
    padding: 8px;

}

/* news event style end */

/* my plan style start */
.my-plan{
    
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    justify-content: center;
}
.my-plan-head h1{
    text-align: center;
    font-size: 40px;
    padding: 60px 0px;
    text-transform: uppercase;
    font-weight: 700;
}

.my-plan-services{
    margin: 2%;
    padding: 2%;
    border: 1px solid;
    color: black;
    border-radius: 5px;
    box-shadow: 10px 5px 15px #908b8b;
}
.my-plan-services h2{
    padding: 12px 0px;
}
.my-plan-services p{
    color: #6d6d6d;
}
/* my plan style end */


/* quote style start */


.quote-text {
    background: linear-gradient(279deg, #ff000000, yellow), url(images/post-img/quote-pic\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    margin:165px 141px;
    padding: 100px;
    border-radius: 10px;
}
.quote-text h3{
    padding: 20px 0px;
    font-size: 36px;
    font-weight: 700;
}
.btn-quote{
        padding: 12px 40px;
        background-color: #03989e;
        border: none;
        border-radius: 5px;
        color: white;
        font-size:18px;
        font-weight: 600;
}

/* quote style end */

/* footer style css start */

.footer-wrap{
    background-color: rgba(0, 0, 0, 0.86);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding: 100px;
    color: white;

}
.footer-left{
    width: 50%;

}
.footer-right input{
    padding: 13px 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background: none;
    color: white;
}
.footer-right p{
    padding: 10px 0px;
    font-size: 14px;
    color: #898787;
}
.footer-left p{
    line-height: 2rem;
    padding: 28px 0px;
}

.footer-left li{
    list-style: none;
    padding: 9px 0px;
}
.footer-left i{
    padding: 10px 10px 10px 0px;;
    font-size: 30px;
}
/* footer style css end */